* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom:15px;
    color: #000000;
    border-radius: 10%;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.box.flipped {
    background-color: #2ecc71;
}

.box.matched {
    background-color: #e74c3c;
    pointer-events: none;
}

footer {
    width: 100%;
    background-color: #1b0f0f;
    padding: 20px;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content a {
    color: #3498db;
    text-decoration: none;
    margin: 10px 15px;
}

.footer-content a:hover {
    text-decoration: underline;
}

.footer-content p {
    margin-top: 15px;
    font-size: 14px;
    color: #ccc;
}


#attempt-counter{
    margin-top: 20px;
    justify-content: center;
    font-size: 25px;
    font-weight: 500px;
    font: bold;
    
}